{% extends "sfuanime/layout.html" %}

{% block content %}
{% load static %}
<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'sfuanime:detail' question.id %}">sadasdasd{{ question.question_text }}</a></li>
          {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->



<div class = "news-container"style="height:1000px;">
<div class = "row" >
  <div class = "col-sm-8" >
  <h1 style="font-size:60px;font-style:bold;padding-left:400px;padding-top:40px;"> Gallery </h1>
</div>
<div class = "col-sm-8" style="padding-left:420px;padding-top:100px;">


  </div>


</div>
</div>

</body>

{% endblock %}



</html>
