{% extends "sfuanime/layout.html" %}

{% block content %}
{% load static %}
<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li><a href="{% url 'sfuanime:detail' question.id %}">sadasdasd{{ question.question_text }}</a></li>
          {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->


<div class = "news-container" ">
<div class = "row" >



<div class = "col-sm-8" style="padding-left:520px;padding-top:60px;">
     {% for p in postid %}
               <h4 class="post-title" style="font-size:26px;color:black;padding-top:30px;padding-right:40px;display:inline-block;">{{p.datetime}}</h4>
               <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&width=96&height=20&appId" width="96" height="20" style="border:none;overflow:hidden" scrolling="no"
               frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
               <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a>

               <h1 class="post-title" style="font-size:46px;color:black;padding-top:30px;padding-right:40px;">{{p.title}}</h1>
               <div class="news-body"  style="padding-top:80px;padding-right:40px;">{{p.body|safe}}</div>

      {% endfor %}
  </div>


</div>
</div>


</body>

{% endblock %}



</html>
